/*-------------------------------------------*\
  Reset CSS
\*-------------------------------------------*/
*,
*::after,
a::before {
  margin: 0;
  padding: 0;
  /* element will inherit box-sizing from body element */
  box-sizing: inherit;
}
html {
  /* 
    Set the root font-size to 10px for easy calutation 
    default is 16px; we want 10px
    So, we 10 / 16 = 0.625 * 100 = 62.5%
    This defines what rem is
  */
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200 ?
    font-size: 56.25%; // 1rem = 9px <=> 9 /16 = 56.25
  }

  @include respond(tab-port) {
    // width < 900 ?
    font-size: 50%; // 1rem = 8px <=> 8/16 = 0.5 * 100
  }

  @include respond(big-desktop) {
    font-size: 75%; //  1rem = 12px <=> 12/16 = 75
  }
}
body {
  padding: 3rem;
  /* Below is not inherited; * above is inherited */
  /* 
    Padding and border not added to content width
    Best practice for box-sizing using inherit
    this will help other plugins to set diff
    box-sizing
  */
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}
