.section-about {
  background: $color-grey-light-1;
  padding: 25rem 0;
  // -20vh because the header clip-path is 75vh and header height is 95vh;
  // 95-75 = 20vh
  margin-top: -20vh;
}
.section-feature {
  padding: 20rem 0;
  background: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(./images/nat-4.jpg) no-repeat top;
  /* To cover the container */
  background-size: cover;

  // To skew and to undo skew for direct child elements
  margin-top: -10rem;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
  // end of skew
}

.section-tour {
  background: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -9.5rem;
}
.section-stories {
  padding: 15rem;
  position: relative;
}
.section-booking {
  padding: 15rem 0;
  background: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}
.booking {
  background-size: cover;

  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  // Two solid colors gradient
  // 1. Use linear gradient
  background: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url('../images/nat-10.jpg');
  height: 50rem;
  &__form {
    width: 50%;
    padding: 6rem;
  }
}
